.head { background-color: white;
	color: black;
	text-align: left;
	font-family: ;
	padding: 20px;
	font-size: 12px;

}
body {
	margin: 0px;
	background-color: #4C036E;
	text-align: center;
	
}

.txt-firstname {
	font-size: 20px;
	padding: 10px;
	padding-left: 20px;
	border: none;
	border-radius: 10px;
	background-color: #BCBCBC;

	
	margin-top: 50px;
	width: 100%;

}

.enter {text-align: center;
	color: white;
	margin-top: 100px;
	font-size: 20px;

}
.txt-birth {
	font-size: 20px;
	padding: 10px;
	padding-left: 20px;
	border: none;
	border-radius: 10px;
	background-color: #BCBCBC;
	width: 100%;

	margin-top: 50px;

}


.txt-mail {


	font-size: 20px;
	background-color: #BCBCBC;
	border: none;
	width: 100%;

}
.mail-box {
	
	padding: 10px;
	padding-left: 20px;
	
	border-radius: 10px;
	background-color: #BCBCBC;
		margin-top: 50px;


}
.div-boxmail {
	padding: 0 30%;

}

.phone-txt {
	font-size: 20px;
	
	border: none;
	
	background-color: #BCBCBC;
	
	width: 100%;
	
}
.phone-box {
	padding: 10px;
	padding-left: 20px;
	
	border-radius: 10px;
	background-color: #BCBCBC;
		margin-top: 50px;

	
}
.div-boxphone {
	padding: 0 30%;

}
.grid {
	display: grid;
	grid-template-columns: 1.5fr 1fr ;
	grid-gap: 50px;
	padding: 0 30%;
	
	
}
.grid2 {
	display: grid;
	grid-template-columns: 1fr 1.5fr ;
	grid-gap: 50px;
	padding: 0 30%;
	
	
}
.btn-back {border-radius: 10px;
	background-color: #BCBCBC;
	
	width: 100%;
	margin-top: 50px;
	font-size: 20px;
	padding: 10px;
	padding-left: 20px;
	border: none;
	color: #696969;

}
.btn-go {border-radius: 10px;
	background-color: #259238;
	
	width: 100%;
	color: white;
	margin-top: 50px;
	font-size: 20px;
	padding: 10px;
	padding-left: 20px;
	border: none;
}


















/*.red {color: black;
	text-align: center;
	font-size: 100px;*/

}
/*.red h3 {font-size: 30px;*/

}

/*.butter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	width: 30%;
	margin: auto;
	padding-top: 50px;
}
.butter button {
	width: 100px;
	height: 100px;
	background-color: palegreen;
	color: white;
	border: none;
	border-radius: 40px;
}*/